RewriteEngine On
RewriteBase /volleyapi/joueurs/

# Si l'URL contient un ID numérique -> redirige vers joueurs.php?id=XXX
RewriteRule ^([0-9]+)$ joueurs.php?id=$1 [L,QSA]


# Si l'URL est juste /volleyapi/joueurs/ -> joueurs.php (récupérer tous les joueurs)
RewriteRule ^$ joueurs.php [L]
